[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
django-debug-toolbar = "*"
python-dotenv = "*"

[packages]
psycopg2-binary = "*"
django = "*"
requests = "*"
coverage = "*"
gunicorn = "*"
django-heroku = "*"

[requires]
python_version = "3.8"
